<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Veterinaria DuocUC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1 th:text="|Bienvenido a ${name}!|"></h1>

    <div sec:authorize="isAuthenticated()">
        <h1 th:inline="text">Hola <span th:remove="tag" sec:authentication="name"></span>!</h1>
        <h2>Seguridad implementada con Spring Security</h2>

        <nav style="margin: 20px 0;">
            <a href="/pacientes"><button type="button">Registrar Paciente</button></a>
            <a href="/citas"><button type="button">Agendar Cita</button></a>
        </nav>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </div>
</body>
</html>